<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
         <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
        <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">

        <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
        <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

        <title>Track Editor</title>
    </head>

    <body>
        <h1>UAV route map</h1>

        <form style="float: left;">
            Start point
            <select id="start_point" name="start_point">
                {% for key, value in start_points.items() %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </form>

        <form style="float: left;">
            Land point
            <select name="land_point" id="land_point">
                {% for key, value in land_points.items() %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </form>

        <form>
            Height of points
            <input type="number" step="0.1" id="height" name="height" value="10.0">
        </form>

    <div id="mapid" style="width: 1200px; height: 800px;"></div>
        <a href='#' id='export'>Export Features</a>
        <a href='#' id='delete'>Delete Features</a>
    <script>
        var points = {{ lat_lon|tojson }};
    </script>
    <script src="{{url_for('static', filename='app.js')}}">
    </script>
    </body>
</html>