<html>
    <head>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
         <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
        <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">

        <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
        <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

        <title>Track Editor</title>
    </head>

    <body>
        <h1>UAV route map</h1>

        <form style="float: left;" onclick="JavaScript:addStartPoint()">
            Start point
            <select id="start_point" name="start_point">
                {% for key, value in start_points.items() %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>
        </form>

        <form action="...">
            Land point
            <select name="land_point">
                <option>1 landing point</option>
                <option>2 landing point</option>
            </select>
        </form>

    <div id="mapid" style="width: 1200px; height: 800px;"></div>
        <a href='#' id='export'>Export Features</a>
        <a href='#' id='delete'>Delete Features</a>

    <script>
        var points = {{ lat_lon|tojson }};
        var map = L.map('mapid').setView(points[0], 13);

        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);

        var featureGroup = L.featureGroup().addTo(map);

        map.on('pm:create', function(e) {
            featureGroup.addLayer(e.layer);
        });

        var polyline = L.polyline(points, {color: 'red'}).addTo(map);
        map.fitBounds(polyline.getBounds());
        featureGroup.addLayer(polyline)

        map.pm.addControls({
            position: 'topleft',
            drawCircle: false,
        });

        document.getElementById('delete').onclick = function(e) {
            featureGroup.clearLayers();
        };

        document.getElementById('export').onclick = function(e) {
            var data = featureGroup.toGeoJSON();

            var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));

            document.getElementById('export').setAttribute('href', 'data:' + convertedData);
            document.getElementById('export').setAttribute('download','data.geojson');
        };

        var startPoints = L.featureGroup().addTo(map);

        function addStartPoint() {
            var e = document.getElementById("start_point");
            var e_value = e.options[e.selectedIndex].value;
            var position = JSON.parse(e_value);

            startPoints.clearLayers();
            var startPoint = L.marker([position[0], position[1]]).addTo(map);
            startPoints.addLayer(startPoint);


        };

    </script>
    </body>
</html>